@mixin outline($color, $width) {
  outline-color: $color;
  outline-width: $width;
  outline-offset: calc(-2px - $width);
}

.button {
  border-radius: 10px;
  border: none;
  outline: 0 solid;

  padding: 16px 40px;

  font-family: var(--font-title);
  font-size: 14px;
  font-weight: 400;

  color: white;
  background: var(--color-primary);

  &:focus {
    background: var(--color-primary);

    @include outline(var(--color-secondary), 4px);
  }

  &:hover {
    background: var(--color-hover);
  }

  &:active {
    background: var(--color-hover);

    @include outline(var(--color-primary), 4px);
  }

  &:disabled {
    background: white;

    color: var(--color-disabled-dark);

    @include outline(var(--color-disabled-dark), 2px);
  }
}

.button.secondary {
  background: var(--color-secondary);

  &:focus {
    background: var(--color-secondary);

    @include outline(var(--color-primary), 4px);
  }

  &:hover {
    background: var(--color-hover);
  }

  &:active {
    background: var(--color-hover);

    @include outline(var(--color-secondary), 4px);
  }
}